@model Main_Project.ViewModels.StoreIndexViewModel

@{
}

<div class="cart-items">
    @foreach (var cartItem in Model.CartItems)
    {
        var storeItem = Model.StoreItems.FirstOrDefault(item => item.Id == cartItem.Key.ItemId && item.GetType().Name == cartItem.Key.ItemType);

        <div class="cart-row">
            <div class="cart-item cart-column">
                <img class="cart-item-image" src="@Url.Content($"~/{storeItem.Photo}")" width="100" height="100">
                <span class="cart-item-title">@storeItem.Name</span>
            </div>
            <span class="cart-price cart-column">@storeItem.Price$</span>
            <div class="cart-quantity cart-column">
                <form id="remove-from-cart-form" method="post" asp-action="RemoveFromCart" data-response-target="#cart-items-container">
                    <input class="cart-quantity-input" name="amount" type="number" value="@cartItem.Value" readonly>
                    <input type="hidden" name="id" value="@storeItem.Id" />
                    <input type="hidden" name="type" value="@storeItem.GetType().Name" />
                    <button class="btn btn-danger" type="submit">REMOVE</button>
                </form>
            </div>
        </div>
    }
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">@Model.TotalCartSum$</span>
    </div>
</div>

