@model Main_Project.ViewModels.ToursListViewModel

@foreach (var tour in Model.Tours)
{
    bool isPurchased = Model.PurchasedToursIds.Contains(tour.Id);
    var message = (isPurchased ? "Registared to the event" : "Harry to buy") + "\n" + @Model.GetTimeLeft(tour.Date);

    <div class="tour-row">
        <span class="tour-item tour-date" data-toggle="tooltip" data-placement="bottom" title="@message">
            @tour.Date.ToString("MMM d")
        </span>
        <span class="tour-item tour-city">@tour.City</span>
        <span class="tour-item tour-arena">@tour.Arena</span>
        @if (!isPurchased)
        {
            <form asp-action="PurchaseTicket" method="post" data-response-target="#tours-container">
                <input type="hidden" name="tourId" value="@tour.Id" />
                <button type="submit" class="tour-item tour-btn btn btn-primary">BUY TICKETS</button>
            </form>
        }
        else
        {
            <label class="label label-default">Bought</label>
        }
    </div>
}